.bgPrimary{
    background-color: #002351;
    color: white;
}
.register {
    text-align: center;
    padding-top: 1rem;
}
.heading{
    font-size: 1.875rem;
}
.reg-main {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .mobile-banner{
    display: none;
  }

  .register {
    display: none;
}

@media (max-width: 600px) {
    .register {
        display: block;
    }
    .reg-main{
        display: flex;
        flex-direction: column;
    }
    .side-bar{
        display: none;
    }
    .mobile-banner{
        margin: 1rem 0 0 -2.9rem ;
        display: block;
      }
      .navbar {
        display: none;
      }

}