.card {
  color: #113b73;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 110px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card:hover {
  background-color: #fe8b4c;
  color: white;
}

.card h1 {
  /* margin-bottom: 0; */
  font-size: 32px;
  opacity: 1;
}
.card p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
}
