.header {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  font-weight: 300;
  padding: 0rem 1.5rem;
}

.header__primary {
  background-color: #002351;
  color: white;
}

.header__secondary {
  background-color: #fff;
  color: #002351;
}

.logo_container {
  display: flex;

  align-items: center;
  width: 35%;
  justify-content: space-between;
}

.logo_container li {
  padding: 0 1rem;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.nav_items {
  display: flex;
}

.nav_items li {
  padding: 0 1rem;
}

.left_nav {
  display: flex;
}

.active {
  color: #fe8b4c;
}

.nav_li {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown_arrow {
  transform: rotate(180deg);
  display: block;
  margin-left: 2px;
  position: absolute;
  left: 32px;
  top: -2px;
  font-weight: 700;
}

.topbar_container {
  background-color: #113b73;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
  box-shadow: rgba(0, 35, 81, 0.03) 0px 4px 15px;
}

.topbar_back_button {
  float: left;
  display: flex;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.topbar_logo {
  float: right;
}

.topbar_label {
  font-size: 1.2rem;
}

.topbar_label_button {
  margin-left: 1rem;
}

.topbar_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 639px) {
  .header {
    display: none;
  }

  .topbar_container {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    height: 1.5rem;
    margin-left: 1rem;
  }

  .logo_container {
    font-size: 0.6rem;
    align-items: center;
    width: 40%;
  }

  .logo_container li {
    padding: 0 0.6rem;
  }

  .nav_items {
    font-size: 0.6rem;
  }

  .nav_items li {
    padding: 0 0.6rem;
  }

  .nav_li {
    position: relative;
  }

  .dropdown_arrow {
    position: absolute;
    left: 18px;
    top: -2px;
    font-weight: 700;
  }
}
